.card {
    margin-left: 50px;
    margin-bottom: 20px;
    background-color: rgb(255, 157, 203);
    border-color: black;
    border-style: double;
    width : 80%;
    display:fixed;
    
}


.card-wrapper {
    display:flex;
    
}

.button {
    color: white
    
}


.input-name {
    width : 25%
}





.day-card {
    display : inline-flex; 
    text-align : center; 
    border: 1px solid black;
    margin : 10px; 
    
    background-color: white;
    width : max-content;


}

.day-label {

    display : inline-flex; 
    text-align : center; 
    border: 1px solid black;
    
    background-color: white;
    width : max-content;


}




.exercise-card {
    width: auto; 
    background-color: white;

    text-align: center;
    display : fixed; 
    border: 1px solid black;

}

.set-card {
    background-color: white;
    display: flex;
    border: 1px solid black;

}
.week-title {
    font-family:'Courier New', Courier, monospace
}